.row{
	margin-top: 50px;
}

.name{
	font-size: 20px;
}

.designation{
	font-size: 15px;
}

.contact{
	font-size: 15px;
}

.contact-image{
	height: 100px;
}

.contact-image img{
	height: 100%;
	width: auto;
}

.contact-div{
	margin: 0px;
}