body{
	padding: 0px;
	margin: 0px;
}
.row{
	margin-top: 50px;
	width: 95%;
	padding-left: 2.5%;
}

.name{
	font-size: 20px;
}

.designation{
	font-size: 15px;
}

.contact{
	font-size: 15px;
}

.contact-image{
	height: 100px;
}

.contact-image img{
	height: 100%;
	width: auto;
}

.contact-div{
	margin: 0px;
}

#background{
	background-image: url('../assets/main/logo_bg.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 10;
}

#foreground{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 15;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}