/*@font-face {
font-family: 'Space Age';
font-style: normal;
font-weight: normal;
src: local('Space Age'), url('../fonts/space age.woff') format('woff');
}*/

body, #container{
    -webkit-backface-visibility: hidden;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#background{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: 100;
}

#coming-soon{
    position: absolute;
    top: 30vh;
    z-index: 600;
    text-align: center;
    width: 100%;
    font-size: 60px;
    background-color: rgba(0,0,0,0.5);
    border-top: 15px solid #DADADA;
    border-bottom: 15px solid #DADADA;
    -moz-box-shadow:    inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    -webkit-box-shadow: inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    box-shadow:         inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
    transition: all 1s ease-out;
    overflow: hidden;
}

#too-big{
    position: absolute;
    top: 20vh;
    z-index: 600;
    text-align: center;
    width: 100%;
    font-size: 40px;
    background-color: rgba(0,0,0,0.5);
    border-top: 15px solid #DADADA;
    border-bottom: 15px solid #DADADA;
    -moz-box-shadow:    inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    -webkit-box-shadow: inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    box-shadow:         inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
    transition: all 1s ease-out;
    overflow: hidden;
}

#mobile-first{
    margin: 0;
    padding: 25px 10px;
    font-size: 30px;
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
}

#mobile-first a{
    color: #DADADA;
}

#mobile-background{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background: url('../assets/main/qwerty.jpg');
    z-index: 550;
}

#visit-planet{
    /*position: absolute;
    top: 25vh;*/
    z-index: 600;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    /*background-color: rgba(0,0,0,0.5);
    border-top: 15px solid #DADADA;
    border-bottom: 15px solid #DADADA;
    -moz-box-shadow:    inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    -webkit-box-shadow: inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    box-shadow:         inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;*/
    transition: all 1s ease-out;
    overflow: hidden;
}

#get-passes{
    /*position: absolute;
    top: 50vh;*/
    z-index: 600;
    text-align: center;
    margin-top: 30px;
    /*background-color: rgba(0,0,0,0.5);*/
}

#get-app{
    z-index: 600;
    text-align: center;
    margin-top: 30px;
}

img.bg1{
    width: 100vw;
    height: 100vh;
    animation: mymove1 50s linear infinite;
    position: absolute;
}

img.bg2{
    width: 100vw;
    height: 100vh;
    animation: mymove2 50s linear infinite;
    position: absolute;
}

@keyframes mymove1 {
 from { left: -100vw; }
 to { left: 0vw; }
}

@keyframes mymove2 {
 from { left: 0vw; }
 to { left: 100vw; }
}

#pointer{
    position: absolute;
    bottom: 50px;
    left: 43vw;
    width: 15vw;
    height: 10vh;
    display: none;
}

#pointer-text{
    position: absolute;
    bottom: 2px;
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
    font-size: 3vw;
    left: 46.5vw;
    display: none;
}

.main-logo{
    z-index: 501;
    position: absolute;
    top: 15vh;
    left: 10px;
    height: 25vh;
    width: auto;
}

.main-logo img{
    height: 100%;
}

.title-sponsor-logo{
    position: absolute;
    top: 10px;
    left: 35px;
    z-index: 600;
    width: 10vw;
    height: 10vh;
    font-size: 3vh;
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
    text-align: center;
}

.title-sponsor-logo img{
    margin-bottom: 10px;
    width: 100%;
    height: 80%;
}

.dates{
    position: absolute;
    bottom: 5vh;
    left: 10px;
    font-size: 4vh;
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
    z-index: 510;
}

#container{
    position: absolute;
    z-index: 500;
}

.about-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: 700;
}

.bring-in{
    height: 0px;
}

canvas{
    height: 600px;
    width: 800px;
}

.over-image{
    position: absolute;
    z-index: 504;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    transform: translateX(50vw) translateY(50vh);
}

.over-image img{
    position: absolute;
    display: none;
}

#oat-i1:hover, #stage-i4:hover, #audi-i1:hover, #landing-i2:hover{
    cursor: pointer;
    -webkit-filter: drop-shadow(3px 3px 0 white)
                  drop-shadow(-3px -3px 0 white);
    filter: drop-shadow(3px 3px 0 white) 
          drop-shadow(-3px 3px 0 white);
}

.over-image object{
    position: fixed;
}

.oat_event, .audi_event, .stage_event{
    display: none;
}


#i1{
    display: none;
    height: 20vh;    
}

#i2{
    display: none;
    height: 20vh;
}

#i3{
    height: 20vh;
    top: 7vh;
    left: -22vh;
}

#i4{
    height: 27vh;
    top: -47vh;
    left: -26vh;
}

#event-list-overlay{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.825);
/*    margin: 10vh 0 0 10vw; */
    z-index: 510;
}

.timeline {
    height: 100%;
    width: 100%;
    overflow: hidden;
    perspective: 40px;
    position: relative;
    display: none;
}

.timeline .bg{
    height: 100%;
    width: 180%;
    z-index: -500;
    left: 50%;
    position: relative;
    transform: rotateX(50deg) translateX(-50%);
    transform-origin: bottom left;
    border-left: 80px solid;
    border-right: 80px solid;
    border-top: 0px;
    border-bottom: 0px;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
    /*background: rgba(104, 164, 189, 0.3);*/
}

.bg_D1{
    background: -webkit-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* Standard syntax */
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#DADADA), to(rgba(0,0,0,0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, #DADADA, rgba(0,0,0,0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, #DADADA, rgba(0,0,0,0)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom, #DADADA, rgba(0,0,0,0)) 1 100%;
    border-image: linear-gradient(to top, #DADADA, rgba(0,0,0,0)) 1 100%;
    -moz-box-shadow:    inset 0px -30px 25px -25px #4DD6E4, inset 30px 0px 25px -20px #4DD6E4, inset -30px 0px 25px -20px #4DD6E4, -30px 0px 25px -25px #4DD6E4, 30px 0px 25px -25px #4DD6E4;
    -webkit-box-shadow: inset 0px -30px 25px -25px #4DD6E4, inset 30px 0px 25px -20px #4DD6E4, inset -30px 0px 25px -20px #4DD6E4, -30px 0px 25px -25px #4DD6E4, 30px 0px 25px -25px #4DD6E4;
    box-shadow:         inset 0px -30px 25px -25px #4DD6E4, inset 30px 0px 25px -20px #4DD6E4, inset -30px 0px 25px -20px #4DD6E4, -30px 0px 25px -25px #4DD6E4, 30px 0px 25px -25px #4DD6E4;
}

.bg_D2{
    background: -webkit-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* Standard syntax */
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#2ECE23), to(rgba(0,0,0,0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, #2ECE23, rgba(0,0,0,0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, #2ECE23, rgba(0,0,0,0)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom, #2ECE23, rgba(0,0,0,0)) 1 100%;
    border-image: linear-gradient(to top, #2ECE23, rgba(0,0,0,0)) 1 100%;
    -moz-box-shadow:    inset 0px -30px 25px -25px #41E823, inset 30px 0px 25px -20px #41E823, inset -30px 0px 25px -20px #41E823, -30px 0px 25px -25px #41E823, 30px 0px 25px -25px #41E823;
    -webkit-box-shadow: inset 0px -30px 25px -25px #41E823, inset 30px 0px 25px -20px #41E823, inset -30px 0px 25px -20px #41E823, -30px 0px 25px -25px #41E823, 30px 0px 25px -25px #41E823;
    box-shadow:         inset 0px -30px 25px -25px #41E823, inset 30px 0px 25px -20px #41E823, inset -30px 0px 25px -20px #41E823, -30px 0px 25px -25px #41E823, 30px 0px 25px -25px #41E823;
}

.bg_D3{
    background: -webkit-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* Standard syntax */
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#ECA522), to(rgba(0,0,0,0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, #ECA522, rgba(0,0,0,0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, #ECA522, rgba(0,0,0,0)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom, #ECA522, rgba(0,0,0,0)) 1 100%;
    border-image: linear-gradient(to top, #ECA522, rgba(0,0,0,0)) 1 100%;
    -moz-box-shadow:    inset 0px -30px 25px -25px #E6E017, inset 30px 0px 25px -20px #E6E017, inset -30px 0px 25px -20px #E6E017, -30px 0px 25px -25px #E6E017, 30px 0px 25px -25px #E6E017;
    -webkit-box-shadow: inset 0px -30px 25px -25px #E6E017, inset 30px 0px 25px -20px #E6E017, inset -30px 0px 25px -20px #E6E017, -30px 0px 25px -25px #E6E017, 30px 0px 25px -25px #E6E017;
    box-shadow:         inset 0px -30px 25px -25px #E6E017, inset 30px 0px 25px -20px #E6E017, inset -30px 0px 25px -20px #E6E017, -30px 0px 25px -25px #E6E017, 30px 0px 25px -25px #E6E017;
}

.location{
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 2vh;
    width: 100%;
    font-size: 7vw; 
    text-align: center;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
}

.day{
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 17vh;
    width: 100%;
    font-size: 6vw; 
    text-align: center;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
}

.time{
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 30vh;
    width: 100%;
    font-size: 4vw; 
    text-align: center;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
}

.day_D1{
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
}
.day_D2{
    color: #2ECE23;
    text-shadow: #41E823 0 0 10px, #41E823 0px 0px 5px;
}
.day_D3{
    color: #ECA522;
    text-shadow: #E6E017 0 0 10px, #E6E017 0px 0px 5px;
}

.timeline .animate{
    height: 100%;
    width: 100%;
}

.timeline .card{
    background: rgba(0,0,0,0.8);
    position: absolute;    
    height: 40vh;
    width: 50vw;
    border-radius: 35px;
    text-align: center;
    overflow: hidden;
/*    transition: all 100s linear; */
}

.timeline .card h1{
    font-size: 8vh;
    line-height: 7vh;
    margin-bottom: 10px;
    margin-top: 70px;
}
.timeline .card h2{
    margin-top: 0;
    font-size: 5vh;
}


.animate_D1 .card{
    border: 10px solid #DADADA;
    -moz-box-shadow:    inset 0 0 30px #4DD6E4;
    -webkit-box-shadow: inset 0 0 30px #4DD6E4;
    box-shadow:         inset 0 0 30px #4DD6E4;
    color: #DADADA;
    /*text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;*/
}
.animate_D2 .card{
    border: 10px solid #2ECE23;
    -moz-box-shadow:    inset 0 0 30px #41E823;
    -webkit-box-shadow: inset 0 0 30px #41E823;
    box-shadow:         inset 0 0 30px #41E823;
    color: #2ECE23;
    /*text-shadow: #41E823 0 0 10px, #41E823 0px 0px 5px;*/
}
.animate_D3 .card{
    border: 10px solid #ECA522;
    -moz-box-shadow:    inset 0 0 30px #E6E017;
    -webkit-box-shadow: inset 0 0 30px #E6E017;
    box-shadow:         inset 0 0 30px #E6E017;
    color: #ECA522;
    /*text-shadow: #E6E017 0 0 10px, #E6E017 0px 0px 5px;*/
}


.afterLoad{
    display: none;
}

@keyframes timeline-popin{
    0%{
        width: 0%;
    }
    100%{
        width: 180%;
    }
}

@keyframes timeline-popout{
    0%{
        width: 180%;
    }
    100%{
        width: 0%;
    }
}

.timeline-popin{
    animation-name: timeline-popin;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}

.timeline-popout{
    animation-name: timeline-popout;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
}

body, #container{
    -webkit-backface-visibility: hidden;
}

@keyframes popin-building{
    100%{
        left: 0;
        top: 0;
        height: 0;
    }
}

.pop-out{
    animation-name: example;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

#stage-i1{
    display: none;
    top: 40vh;
    left: 19vh;
    height: 20vh;
    transform: rotateZ(180deg);
}

@keyframes popout-stage-1{
    0%{
        height: 0vh;
        left: 0;
        top: 0;
    }
    20%{
        height: 4vh;
        top: -9vh;
        left: 3.9vh;
    }
    50%{
        top: 44vh;
        left: 24.3vh;
        height: 26vh;
    }
    75%{
        top: 34vh;
        left: 16vh;
        height: 17vh;
    }
    100%{
        height: 20vh;
        top: 40vh;
        left: 19vh;
    }
}

#stage-i2{
    display: none;
    transform: rotateZ(-74deg);
    left: -51vh;
    top: 17vh;
    height: 39vh;
}

@keyframes popout-stage-2{
    0%{
        height: 0;
        left: 0;
        top: 0;
    }
    35%{
    left: -37vh;
    top: 13vh;
    height: 30vh;
    }
    50%{
    left: -31vh;
    top: 10vh;
    height: 22vh;
    }
    75%{
    left: -54vh;
    top: 19vh;
    height: 42vh;
    }
    100%{
    left: -51vh;
    top: 17vh;
    height: 39vh;
    }
}

#stage-i3{
    display: none;
    height: 33vh;
    top: -22vh;
    left: 46vh;
    transform: rotateZ(90deg);
}

@keyframes popout-stage-3{
    0%{
        height: 0;
        top: 0;
        left: 0;
    }
    15%{
        height: 6vh;
        top: -8vh;
        left: 0vh;
    }
    50%{
        height: 29vh;
        top: -22vh;
        left: 36vh;
    }
    72%{
        height: 24vh;
        top: -19vh;
        left: 30vh;
    }
    100%{
        height: 33vh;
        top: -22vh;
        left: 46vh;
    }
}

#stage-i4{
    display: none;
    height: 55vh;
    left: -16vh;
    top: -36vh;
}

@keyframes popout-stage-4{
    0%{
        height: 0;
        left: 0;
        top: 0;
    }
    75%{
    height: 69vh;
    left: -19vh;
    top: -42vh;
    }
    100%{
    height: 55vh;
    left: -16vh;
    top: -36vh;        
    }
}

#landing-i1{
    display: none;
    height: 25vh;
    top: -43vh;
    left: -24vh;
}

@keyframes popout-landing-1{
    0%{
    height: 0vh;
    top: 10vh;
    left: 0vh;
    }
    68%{
    height: 30vh;
    top: -44vh;
    left: -29vh;
    }
    100%{
        height: 25vh;
        top: -43vh;
        left: -24vh;
    }
}

#landing-i2{
    height: 30vh;
    top: -14vh;
    left: -14vh;
}

@keyframes popout-landing-2{
    0%{
        height: 0px;
        top: 0px;
        left: 0px;
    }
    100%{
        height: 30vh;
        top: -14vh;
        left: -14vh;
    }
}

#oat-i1{
    display: none;
    height: 36vh;
    top: -18vh;
    left: -18vh;
}

@keyframes popout-oat-1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#oat-i2{
    display: none;
    top: -23vh;
    left: 13vh;
    height: 50vh;
}

@keyframes popout-oat-2{
    0%{
        top: 0vh;
        height: 0vh;
        left: 0vh;
    }
    70%{
    top: -25vh;
    left: 14vh;
    height: 56vh;
    }
    85%{
    top: -21.5vh;
    left: 12vh;
    height: 47vh;
    }
    98%{
    top: -24vh;
    left: 13vh;
    height: 52vh;
    }
    100%{
        top: -23vh;
        left: 13vh;
        height: 50vh;
    }
}

#oat-i3{
    display: none;
    left: -37vh;
    top: 2vh;
    transform: rotateZ(11deg);
    height: 25vh;
}

@keyframes popout-oat-3{
    0%{
        height: 0vh;
        left: 0vh;
        top: 0vh;
    }
    70%{
    left: -41vh;
    top: 4vh;
    height: 28vh;
    }
    85%{
    left: -33.5vh;
    top: 0vh;
    height: 23vh;        
    }
    98%{
    left: -39vh;
    top: 3vh;
    height: 26vh;
    }
    100%{
        height: 25vh;
        left: -37vh;
        top: 2vh;
    }
}

#oat-i4{
    display: none;
    top: -42vh;
    left: -35vh;
    height: 42vh;
}

@keyframes popout-oat-4{
    0%{
        height: 0vh;
        left: 0vh;
        top: 0vh;
    }
    70%{
    top: -45vh;
    left: -38vh;
    height: 46vh;
    }
    85%{
    top: -39vh;
    left: -33vh;
    height: 39vh;
    }
    98%{
    top: -43vh;
    left: -36vh;
    height: 43vh;
    }
    100%{
        height: 42vh;
        left: -35vh;
        top: -42vh;
    }
}

#audi-i1{
    display: none;
    height: 22vh;
    transform: rotateZ(3deg);
    left: -21vh;
    top: -35vh;
    z-index: 5;
}

@keyframes popout-audi-1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#audi-i2{
    display: none;
    height: 33vh;
    left: -46vh;
    top: 20vh;
    transform: rotateZ(-82deg);
}

@keyframes popout-audi-2{
    0%{
        height: 0;
        left: 0;
        top: 0;
    }
    30%{
    height: 15vh;
    left: -17vh;
    top: 18vh;
    transform: rotateZ(-99deg);
    }
    60%{
    height: 24vh;
    left: -32vh;
    top: 0vh;
    transform: rotateZ(-57deg);
    }
    87%{
    height: 28vh;
    left: -34vh;
    top: 23vh;
    transform: rotateZ(-89deg);
    }
    100%{
        height: 33vh;
        left: -46vh;
        top: 20vh;
        transform: rotateZ(-82deg);
    }
}

#audi-i3{
    display: none;
    left: 49vh;
    top: 10vh;
    transform: rotateZ(159deg);
    height: 38vh;
}

@keyframes popout-audi-3{
    0%{
        height: 0vh;
        left: 0vh;
        top: 0vh;
    }
    30%{
        left: 24vh;
    top: 21vh;
    transform: rotateZ(188deg);
    height: 19vh;
    }
    60%{
    left: 39vh;
    top: -9vh;
    transform: rotateZ(134deg);
    height: 28vh;
    }
    87%{
    left: 38vh;
    top: 29vh;
    transform: rotateZ(186deg);
    height: 34vh;
    }
    100%{
    left: 49vh;
    top: 10vh;
    transform: rotateZ(159deg);
    height: 38vh;        
    }
}

#audi-i4{
    display: none;
    top: 44vh;
    left: 23vh;
    height: 31vh;
    transform: rotateZ(168deg);
}

@keyframes popout-audi-4{
    0%{
        height: 0vh;
        left: 0vh;
        top: 0vh;
    }
    30%{
        top: 11vh;
        left: 7vh;
        height: 10vh;
    }
    60%{
    top: 27vh;
    left: 16.5vh;
    height: 23vh;
    }
    87%{
    top: 31vh;
    left: 20.5vh;
    height: 27vh;
    }
    100%{
    top: 44vh;
    left: 23vh;
    height: 31vh;
    }
}

#gate{
    height: 25vh;
    top: -43vh;
    left: -24vh;
}

.pinup{
    position: absolute;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    animation: wiggle 1.2s infinite;
}

.out-of-box{
    left: -100vw;
    top: -100vh;
}

/*landing*/
.pin-landing-audi{
    left: -36vh;
    transform: rotateZ(-110deg);
    top: -7vh;    
}

.zoomout-landing-audi{
    left: -144vh;
    top: -24vh;
    transform: rotateZ(-110deg);
}

.pin-landing-stage{
    left: 14vh;
    transform: rotateZ(109deg);
    top: 32vh;
}

.zoomout-landing-stage{
    transform: rotateZ(109deg);
    left: 42vh;
    top: 96vh;
}

.pin-landing-oat{
    left: 35vh;
    transform: rotateZ(27deg);
    top: -10vh;
}

.zoomout-landing-oat{
    transform: rotateZ(27deg);
    left: 105vh;
    top: -30vh;
}

/*stage*/
.pin-stage-oat{
    left: 42vh;
    top: -18vh;
    transform: rotateZ(21deg);
}

.zoomout-stage-oat{
    left: 126vh;
    top: -54vh;
    transform: rotateZ(21deg);
}

.pin-stage-landing{
    left: 21vh;
    transform: rotateZ(109deg);
    top: 43vh;
}

.zoomout-stage-landing{
    left: 63vh;
    transform: rotateZ(109deg);
    top: 129vh;
}

.pin-stage-audi{
    left: -43vh;
    transform: rotateZ(-151deg);
    top: 15vh;
}

.zoomout-stage-audi{
    left: -129vh;
    transform: rotateZ(-151deg);
    top: 45vh;
}

/*audi*/
.pin-audi-stage{
    left: -36vh;
    transform: rotateZ(-93deg);
    top: -27vh;
}

.zoomout-audi-stage{
    left: -108vh;
    transform: rotateZ(-93deg);
    top: -81vh;
}

.pin-audi-oat{
    left: 47vh;
    transform: rotateZ(43deg);
    top: -6vh;
}

.zoomout-audi-oat{
    left: 141vh;
    transform: rotateZ(43deg);
    top: -18vh;
}

.pin-audi-landing{
    left: -7vh;
    transform: rotateZ(151deg);
    top: 43vh;
}

.zoomout-audi-landing{
    left: -21vh;
    transform: rotateZ(151deg);
    top: 129vh;
}

/*oat*/
.pin-oat-landing{
    left: -3vh;
    transform: rotateZ(145deg);
    top: 39vh;
}

.zoomout-oat-landing{
    left: -9vh;
    transform: rotateZ(145deg);
    top: 117vh;
}

.pin-oat-audi{
    left: -40vh;
    transform: rotateZ(246deg);
    top: -10vh;
}

.zoomout-oat-audi{
    left: -120vh;
    transform: rotateZ(246deg);
    top: -30vh;
}

.pin-oat-stage{
    left: 33vh;
    transform: rotateZ(75deg);
    top: 14vh;
}

.zoomout-oat-stage{
    left: 115vh;
    transform: rotateZ(75deg);
    top: 49vh;
}

@keyframes wiggle{
    0%,100%{
        height: 32px;
        width: 32px;
    }
    50%{
        height: 36px;
        width: 36px;
    }
}

.tooltips div{
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 504;
    padding: 5px;
    font-size: 2.2rem;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;
}

.myTooltip:hover, #tooltip-audi.myTooltip-hover, #tooltip-stage.myTooltip-hover,#tooltip-oat.myTooltip-hover,#tooltip-gate.myTooltip-hover{
    background: rgba(255,255,255,0.5);
    color: black;
}

.tooltips span{
    display: block;
    font-size: 1.5rem;
    font-family: sans-serif;
}

#about-engi-back{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    z-index: 507;
}

#about-engi{
    width: 70%;
    position: absolute;
    z-index: 510;
    height: 70%;
    margin: 15vh 15%;
    background: rgba(0,0,0,0.9);
    color: #fff;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

#about-engi::-webkit-scrollbar{
    display: none;
}

.sidebar-menu::-webkit-scrollbar{
    display: none;
}

#about-engi h1{
    font-family: sans-serif;
    font-size: 50px;
    display: none;
    margin-bottom: 30px;
}

#about-img{
    width: 100%;
}

#about-img img{
    width: 100%;
}

#about-engi h3{
    text-align: justify;
    font-family: "Segoe UI";
    font-size: 21px;
    display: none;
}

#about-close{
    color: white;
    font-size: xx-large;
    position: absolute;
    right: -12px;
    background: rgba(0,0,0,0.5);
    top: -17px;
    cursor: pointer;
    border-radius: 40px;
    border: 2px solid white;
    padding: 3px;
}

#legacy-back{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    z-index: 507;
}

#legacy-engi{
    width: 70%;
    position: absolute;
    z-index: 510;
    height: 70%;
    margin: 15vh 15%;
    background: rgba(0,0,0,0.9);
    color: #fff;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

#legacy-engi::-webkit-scrollbar{
    display: none;
}

#legacy-engi h1{
    font-family: sans-serif;
    font-size: 50px;
    display: none;
    margin-bottom: 30px;
}

#legacy-img{
    width: 100%;
}

#legacy-img img{
    width: 100%;
}

#legacy-engi h3{
    text-align: justify;
    font-family: "Segoe UI";
    font-size: 21px;
    display: none;
}

#about-close-2{
    color: white;
    font-size: xx-large;
    position: absolute;
    right: -12px;
    background: rgba(0,0,0,0.5);
    top: -17px;
    cursor: pointer;
    border-radius: 40px;
    border: 2px solid white;
    padding: 3px;
}

#team-back{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    z-index: 507;
}

#team-engi{
    width: 80%;
    position: absolute;
    z-index: 510;
    height: 80%;
    margin: 10vh 10%;
    background: rgba(0,0,0,0.9);
    color: #fff;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#team-engi::-webkit-scrollbar{
    display: none;
}

#team-engi h1{
    font-family: sans-serif;
    font-size: 50px;
    display: none;
    margin-bottom: 30px;
    margin-top: 10px;
}

#about-close-3{
    color: white;
    font-size: xx-large;
    position: absolute;
    right: -12px;
    background: rgba(0,0,0,0.5);
    top: -17px;
    cursor: pointer;
    border-radius: 40px;
    border: 2px solid white;
    padding: 3px;
}

.team-mate{
    display: none;
    overflow: hidden;
}

.indi-name{
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 300ms;
}

.indi-work{
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 300ms;
}

.indi-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.indi-image:hover{
    cursor: pointer;
    -webkit-filter: drop-shadow(3px 3px 0 white)
                  drop-shadow(-3px -3px 0 white);
    filter: drop-shadow(3px 3px 0 white) 
          drop-shadow(-3px 3px 0 white);
}

#main-logo:hover{
    cursor: pointer;
}
/*************Sidebar***************/
#sidebar-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 505;
}
#sidebar-container a,
a:hover,
a:active { text-decoration: none; }

#sidebar-container a {
  color: #31E413;
  font-style: italic;
  font-weight: 700;
}

#sidebar-container a:hover { transition: all 200ms ease-in-out; }

.page-container {
  min-width: 1260px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.page-container.sidebar-collapsed {
  padding-right: 65px;
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back {
  padding-right: 280px;
  transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-menu {
  width: 65px;
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
  width: 280px;
  transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed .logo {
  padding: 0px;
  height: 120px;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .logo {
  width: 100%;
  padding: 0px;
  height: 120px;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed img {
  opacity: 0;
  transition: all 300ms ease-in-out;
  position: absolute;
  top: 0px;
  left: 75px;
  height: 120px;
}

.page-container.sidebar-collapsed-back img {
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  height: 120px;
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back img:hover{
    cursor: pointer;
}

.page-container.sidebar-collapsed #menu span {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed-back #menu span {
  opacity: 1;
  transition: all 300ms ease-in-out;
  transition-delay: 300ms;
}

.sidebar-menu {
  position: fixed;
  float: left;
  width: 280px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.825);
  color: #aaabae;
  font-family: "Segoe UI";
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#menu li {
  position: relative;
  margin: 0;
  font-size: 3vh;
  border-bottom: 1px solid rgba(69, 74, 84, 0.7);
  padding: 0;
}

#menu li ul {
  opacity: 0;
  height: 0px;
}

#menu li a {
  font-style: normal;
  font-weight: 400;
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #aaabae;
  white-space: nowrap;
  z-index: 2;
}

#menu li a:hover {
  color: #ffffff;
  background-color: #333944;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

#menu li.active > a {
  background-color: #2b303a;
  color: #ffffff;
}

#menu ul li {  background-color: rgba(0, 0, 0, 0.825); }

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li ul {
  position: absolute;
  visibility: hidden;
  right: 100%;
  top: -1px;
  background-color: rgba(0, 0, 0, 0.825);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s linear;
  border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menu span{
    font-size: 3vh;
}

#menu li:hover > ul {
  visibility: visible;
  opacity: 1;
}

#menu li li ul {
  right: 100%;
  visibility: hidden;
  top: -1px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

#menu li li:hover ul {
  visibility: visible;
  opacity: 1;
}

#menu .fa { margin-right: 5px; }

.logo {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}

.sidebar-icon {
  position: relative;
  float: right;
  right: -7px;
  margin-top: 32px;
  border: 1px solid #454a54;
  text-align: center;
  line-height: 1;
  font-size: 3vh;
  padding: 6px 8px;
  border-radius: 3px;
  color: #31E413;
  background-clip: padding-box;
  text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

/*********CountDown Clock**********/
.clock-container{
    z-index: 505;
    position: absolute;
    left: 25px;
    top: 40vh;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
}

.clock-container h1{  
    color: #DADADA;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 3vh;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 3vh;
}

#clockdiv > div{
    padding: 0px;
    border-radius: 3px;
    /*background: rgba(0, 0, 0, 0.75);*/
    display: inline-block;
}

#clockdiv div > span{
    padding: 0px;
    border-radius: 3px;
    /*background: rgba(0, 0, 0, 0.75);*/
    display: inline-block;
    text-align: center;
}

.smalltext{
    padding-top: 0px;
    font-size: 2vh;
    text-align: center;
}
