#container{
    position: absolute;
    z-index: 500;
}

canvas{
    height: 600px;
    width: 800px;
}

@keyframes popout-1{
    0%{
        height: 0px;
        width: 0px;
        left: 50%;
        top: 50%;
    }
    10%{
        height: 24px;
        width: 24px;
        top: 55%;
        left: 50%;
    }
    40%{
        height: 96px;
        width: 96px;
        top: 24%;
        left: 24%;
    }
    60%{
        height: 110px;
        width: 110px;
        top: 30%;
        left: 30%;
    }
    80%{
        height: 120px;
        width: 130px;
        top: 24%;
        left: 24%;
    }
    100%{
        top: 25%;
        width: 160px;
        left: 25%;
    }
}

.over-image{
    position: absolute;
    z-index: 501;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    transform: translateX(50vw) translateY(50vh);
}

.over-image img{
    position: absolute;
}

.over-image object{
    position: relative;
}

#i1{
    display: none;
    height: 20vh;
    
}

#i2{
    display: none;
    height: 20vh;
}

#i3{
    height: 20vh;
    top: 7vh;
    left: -22vh;
}

#i4{
    height: 20vh;
    top: -25vh;
    left: -19vh;
}

#i5{
    display: none;
    height: 20vh;
}

#i6{
    display: none;
    height: 20vh;
}

#i7{
    display: none;
    height: 20vh;
}

#event-list-overlay{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(249, 249, 249, 0.1);
/*    margin: 10vh 0 0 10vw; */
    z-index: 510;
}

.timeline {
    height: 100%;
    width: 100%;
    overflow: hidden;
    perspective: 40px;
    position: relative;
}

.timeline .bg{
    height: 100%;
    width: 180%;
    z-index: -500;
    left: 50%;
    position: absolute;
    transform: rotateX(50deg) translateX(-50%);
    transform-origin: bottom left;
    background: rgba(104, 164, 189, 0.3);
}

.timeline .animate{
    height: 100%;
    width: 100%;
}

.timeline .card{
    background: #dddddd;
    position: absolute;    
    height: 30vh;
    width: 50vw;
/*    transition: all 100s linear; */
}

.afterLoad{
    display: none;
}