@font-face {
font-family: 'Space Age';
font-style: normal;
font-weight: normal;
src: local('Space Age'), url('../fonts/space age.woff') format('woff');
}

body, #container{
    -webkit-backface-visibility: hidden;
}

body{
    font-family: 'Space Age';
    margin: 0;
}

#background{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-image: url('../assets/main/bg.jpg');
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#container{
    position: absolute;
    z-index: 500;
}

#engifest16{
    position: absolute;
    top: 45vh;
    z-index: 600;
    text-align: center;
    width: 100%;
    font-size: 60px;
    background-color: rgba(0,0,0,0.5);
    border-top: 15px solid #DADADA;
    border-bottom: 15px solid #DADADA;
    -moz-box-shadow:    inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    -webkit-box-shadow: inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    box-shadow:         inset 0px 30px 25px -25px #4DD6E4, inset 0px -30px 25px -25px #4DD6E4, 0px -10px 25px 0px #4DD6E4, 0px 10px 25px 0px #4DD6E4;
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
    transition: all 1s ease-out;
    overflow: hidden;
}

.bring-in{
    height: 0px;
}

canvas{
    height: 600px;
    width: 800px;
}

.over-image{
    position: absolute;
    z-index: 501;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    transform: translateX(50vw) translateY(50vh);
}

.over-image img{
    position: absolute;
}

#i3:hover{
    -webkit-filter: drop-shadow(3px 3px 0 white)
                  drop-shadow(-3px -3px 0 white);
  filter: drop-shadow(3px 3px 0 white) 
          drop-shadow(-3px 3px 0 white);
}

.over-image object{
    position: fixed;
}


#i1{
    display: none;
    height: 20vh;    
}

#i2{
    display: none;
    height: 20vh;
}

#i3{
    height: 20vh;
    top: 7vh;
    left: -22vh;
}

#i4{
    height: 27vh;
    top: -40vh;
    left: -26vh;
}

#event-list-overlay{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
/*    margin: 10vh 0 0 10vw; */
    z-index: 510;
}

.timeline {
    height: 100%;
    width: 100%;
    overflow: hidden;
    perspective: 40px;
    position: relative;
}

.timeline .bg{
    height: 100%;
    width: 180%;
    z-index: -500;
    left: 50%;
    position: relative;
    transform: rotateX(50deg) translateX(-50%);
    transform-origin: bottom left;
    border-left: 80px solid;
    border-right: 80px solid;
    border-top: 0px;
    border-bottom: 0px;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
    /*background: rgba(104, 164, 189, 0.3);*/
}

.bg_D1{
    background: -webkit-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* Standard syntax */
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#DADADA), to(rgba(0,0,0,0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, #DADADA, rgba(0,0,0,0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, #DADADA, rgba(0,0,0,0)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom, #DADADA, rgba(0,0,0,0)) 1 100%;
    border-image: linear-gradient(to top, #DADADA, rgba(0,0,0,0)) 1 100%;
    -moz-box-shadow:    inset 0px -30px 25px -25px #4DD6E4, inset 30px 0px 25px -20px #4DD6E4, inset -30px 0px 25px -20px #4DD6E4, -30px 0px 25px -25px #4DD6E4, 30px 0px 25px -25px #4DD6E4;
    -webkit-box-shadow: inset 0px -30px 25px -25px #4DD6E4, inset 30px 0px 25px -20px #4DD6E4, inset -30px 0px 25px -20px #4DD6E4, -30px 0px 25px -25px #4DD6E4, 30px 0px 25px -25px #4DD6E4;
    box-shadow:         inset 0px -30px 25px -25px #4DD6E4, inset 30px 0px 25px -20px #4DD6E4, inset -30px 0px 25px -20px #4DD6E4, -30px 0px 25px -25px #4DD6E4, 30px 0px 25px -25px #4DD6E4;
}

.bg_D2{
    background: -webkit-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* Standard syntax */
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#2ECE23), to(rgba(0,0,0,0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, #2ECE23, rgba(0,0,0,0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, #2ECE23, rgba(0,0,0,0)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom, #2ECE23, rgba(0,0,0,0)) 1 100%;
    border-image: linear-gradient(to top, #2ECE23, rgba(0,0,0,0)) 1 100%;
    -moz-box-shadow:    inset 0px -30px 25px -25px #41E823, inset 30px 0px 25px -20px #41E823, inset -30px 0px 25px -20px #41E823, -30px 0px 25px -25px #41E823, 30px 0px 25px -25px #41E823;
    -webkit-box-shadow: inset 0px -30px 25px -25px #41E823, inset 30px 0px 25px -20px #41E823, inset -30px 0px 25px -20px #41E823, -30px 0px 25px -25px #41E823, 30px 0px 25px -25px #41E823;
    box-shadow:         inset 0px -30px 25px -25px #41E823, inset 30px 0px 25px -20px #41E823, inset -30px 0px 25px -20px #41E823, -30px 0px 25px -25px #41E823, 30px 0px 25px -25px #41E823;
}

.bg_D3{
    background: -webkit-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, rgba(104, 164, 189, 0.3)); /* Standard syntax */
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#ECA522), to(rgba(0,0,0,0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, #ECA522, rgba(0,0,0,0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, #ECA522, rgba(0,0,0,0)) 1 100%;
    -o-border-image: -o-linear-gradient(bottom, #ECA522, rgba(0,0,0,0)) 1 100%;
    border-image: linear-gradient(to top, #ECA522, rgba(0,0,0,0)) 1 100%;
    -moz-box-shadow:    inset 0px -30px 25px -25px #E6E017, inset 30px 0px 25px -20px #E6E017, inset -30px 0px 25px -20px #E6E017, -30px 0px 25px -25px #E6E017, 30px 0px 25px -25px #E6E017;
    -webkit-box-shadow: inset 0px -30px 25px -25px #E6E017, inset 30px 0px 25px -20px #E6E017, inset -30px 0px 25px -20px #E6E017, -30px 0px 25px -25px #E6E017, 30px 0px 25px -25px #E6E017;
    box-shadow:         inset 0px -30px 25px -25px #E6E017, inset 30px 0px 25px -20px #E6E017, inset -30px 0px 25px -20px #E6E017, -30px 0px 25px -25px #E6E017, 30px 0px 25px -25px #E6E017;
}


.day{
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 10vh;
    width: 100%;
    font-size: 100px; 
    text-align: center;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
}

.time{
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 25vh;
    width: 100%;
    font-size: 50px; 
    text-align: center;
    -webkit-transition: all 0.8s; /* Safari */
    transition: all 0.8s;
}

.day_D1{
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
}
.day_D2{
    color: #2ECE23;
    text-shadow: #41E823 0 0 10px, #41E823 0px 0px 5px;
}
.day_D3{
    color: #ECA522;
    text-shadow: #E6E017 0 0 10px, #E6E017 0px 0px 5px;
}

.timeline .animate{
    height: 100%;
    width: 100%;
}

.timeline .card{
    background: rgba(0,0,0,0.8);
    position: absolute;    
    height: 40vh;
    width: 50vw;
    border-radius: 35px;
    text-align: center;
/*    transition: all 100s linear; */
}

.timeline .card h1{
    font-size: 50px;
}


.animate_D1 .card{
    border: 10px solid #DADADA;
    -moz-box-shadow:    inset 0 0 30px #4DD6E4;
    -webkit-box-shadow: inset 0 0 30px #4DD6E4;
    box-shadow:         inset 0 0 30px #4DD6E4;
    color: #DADADA;
    text-shadow: #4DD6E4 0 0 10px, #4DD6E4 0px 0px 5px;
}
.animate_D2 .card{
    border: 10px solid #2ECE23;
    -moz-box-shadow:    inset 0 0 30px #41E823;
    -webkit-box-shadow: inset 0 0 30px #41E823;
    box-shadow:         inset 0 0 30px #41E823;
    color: #2ECE23;
    text-shadow: #41E823 0 0 10px, #41E823 0px 0px 5px;
}
.animate_D3 .card{
    border: 10px solid #ECA522;
    -moz-box-shadow:    inset 0 0 30px #E6E017;
    -webkit-box-shadow: inset 0 0 30px #E6E017;
    box-shadow:         inset 0 0 30px #E6E017;
    color: #ECA522;
    text-shadow: #E6E017 0 0 10px, #E6E017 0px 0px 5px;
}


.afterLoad{
    display: none;
}

@keyframes timeline-popin{
    0%{
        width: 0%;
    }
    100%{
        width: 180%;
    }
}

@keyframes timeline-popout{
    0%{
        width: 180%;
    }
    100%{
        width: 0%;
    }
}

.timeline-popin{
    animation-name: timeline-popin;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}

.timeline-popout{
    animation-name: timeline-popout;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
}

body, #container{
    -webkit-backface-visibility: hidden;
}

@keyframes popin-building{
    100%{
        left: 0;
        top: 0;
        height: 0;
    }
}

.pop-out{
    animation-name: example;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

#stage-i1{
    display: none;
    top: 40vh;
    left: -19vh;
    height: 20vh;
    transform: rotateX(180deg);
}

@keyframes popout-stage-1{
    0%{
        height: 0vh;
        left: 0;
        top: 0;
    }
    20%{
        height: 4vh;
        top: -9vh;
        left: -1.9vh;
    }
    50%{
        top: 44vh;
        left: -25vh;
        height: 26vh;
    }
    75%{
        top: 34vh;
        left: -16vh;
        height: 17vh;
    }
    100%{
        height: 20vh;
        top: 40vh;
        left: -19vh;
    }
}

#stage-i2{
    display: none;
    transform: rotateZ(-74deg);
    left: -51vh;
    top: 17vh;
    height: 39vh;
}

@keyframes popout-stage-2{
    0%{
        height: 0;
        left: 0;
        top: 0;
    }
    35%{
    left: -37vh;
    top: 13vh;
    height: 30vh;
    }
    50%{
    left: -31vh;
    top: 10vh;
    height: 22vh;
    }
    75%{
    left: -54vh;
    top: 19vh;
    height: 42vh;
    }
    100%{
    left: -51vh;
    top: 17vh;
    height: 39vh;
    }
}

#stage-i3{
    display: none;
    height: 33vh;
    top: -22vh;
    left: 46vh;
    transform: rotateZ(90deg);
}

@keyframes popout-stage-3{
    0%{
        height: 0;
        top: 0;
        left: 0;
    }
    15%{
        height: 6vh;
        top: -8vh;
        left: 0vh;
    }
    50%{
        height: 29vh;
        top: -22vh;
        left: 36vh;
    }
    72%{
        height: 24vh;
        top: -19vh;
        left: 30vh;
    }
    100%{
        height: 33vh;
        top: -22vh;
        left: 46vh;
    }
}

#stage-i4{
    display: none;
    height: 55vh;
    left: -16vh;
    top: -36vh;
}

@keyframes popout-stage-4{
    0%{
        height: 0;
        left: 0;
        top: 0;
    }
    75%{
    height: 69vh;
    left: -19vh;
    top: -42vh;
    }
    100%{
    height: 55vh;
    left: -16vh;
    top: -36vh;        
    }
}

#landing-i1{
    display: none;
    height: 25vh;
    top: -43vh;
    left: -24vh;
}

@keyframes popout-landing-1{
    0%{
    height: 0vh;
    top: 10vh;
    left: 0vh;
    }
    68%{
    height: 30vh;
    top: -44vh;
    left: -29vh;
    }
    100%{
        height: 25vh;
        top: -43vh;
        left: -24vh;
    }
}

#oat-i1{
    display: none;
    height: 36vh;
    top: -18vh;
    left: -18vh;
}

@keyframes popout-oat-1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#oat-i2{
    display: none;
    top: -23vh;
    left: 13vh;
    height: 50vh;
}

@keyframes popout-oat-2{
    0%{
        top: 0vh;
        height: 0vh;
        left: 0vh;
    }
    70%{
    top: -25vh;
    left: 14vh;
    height: 56vh;
    }
    85%{
    top: -21.5vh;
    left: 12vh;
    height: 47vh;
    }
    98%{
    top: -24vh;
    left: 13vh;
    height: 52vh;
    }
    100%{
        top: -23vh;
        left: 13vh;
        height: 50vh;
    }
}

#oat-i3{
    display: none;
    left: -37vh;
    top: 2vh;
    transform: rotateZ(11deg);
    height: 25vh;
}

@keyframes popout-oat-3{
    0%{
        height: 0vh;
        left: 0vh;
        top: 0vh;
    }
    70%{
    left: -41vh;
    top: 4vh;
    height: 28vh;
    }
    85%{
    left: -33.5vh;
    top: 0vh;
    height: 23vh;        
    }
    98%{
    left: -39vh;
    top: 3vh;
    height: 26vh;
    }
    100%{
        height: 25vh;
        left: -37vh;
        top: 2vh;
    }
}

#oat-i4{
    display: none;
    top: -42vh;
    left: -35vh;
    height: 42vh;
}

@keyframes popout-oat-4{
    0%{
        height: 0vh;
        left: 0vh;
        top: 0vh;
    }
    70%{
    top: -45vh;
    left: -38vh;
    height: 46vh;
    }
    85%{
    top: -39vh;
    left: -33vh;
    height: 39vh;
    }
    98%{
    top: -43vh;
    left: -36vh;
    height: 43vh;
    }
    100%{
        height: 42vh;
        left: -35vh;
        top: -42vh;
    }
}

#audi-i1{
    display: none;
    height: 22vh;
    transform: rotateZ(3deg);
    left: -21vh;
    top: -35vh;
    z-index: 5;
}

@keyframes popout-audi-1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#audi-i2{
    display: none;
    height: 33vh;
    left: -46vh;
    top: 20vh;
    transform: rotateZ(-82deg);
}

@keyframes popout-audi-2{
    0%{
        height: 0;
        left: 0;
        top: 0;
    }
    30%{
    height: 15vh;
    left: -17vh;
    top: 18vh;
    transform: rotateZ(-99deg);
    }
    60%{
    height: 24vh;
    left: -32vh;
    top: 0vh;
    transform: rotateZ(-57deg);
    }
    87%{
    height: 28vh;
    left: -34vh;
    top: 23vh;
    transform: rotateZ(-89deg);
    }
    100%{
        height: 33vh;
        left: -46vh;
        top: 20vh;
        transform: rotateZ(-82deg);
    }
}

#audi-i3{
    display: none;
    left: 49vh;
    top: 10vh;
    transform: rotateZ(159deg);
    height: 38vh;
}

@keyframes popout-audi-3{
    0%{
        height: 0vh;
        left: 0vh;
        top: 0vh;
    }
    30%{
        left: 24vh;
    top: 21vh;
    transform: rotateZ(188deg);
    height: 19vh;
    }
    60%{
    left: 39vh;
    top: -9vh;
    transform: rotateZ(134deg);
    height: 28vh;
    }
    87%{
    left: 38vh;
    top: 29vh;
    transform: rotateZ(186deg);
    height: 34vh;
    }
    100%{
    left: 49vh;
    top: 10vh;
    transform: rotateZ(159deg);
    height: 38vh;        
    }
}

#audi-i4{
    display: none;
    top: 44vh;
    left: 23vh;
    height: 31vh;
    transform: rotateZ(168deg);
}

@keyframes popout-audi-4{
    0%{
        height: 0vh;
        left: 0vh;
        top: 0vh;
    }
    30%{
        top: 11vh;
        left: 7vh;
        height: 10vh;
    }
    60%{
    top: 27vh;
    left: 16.5vh;
    height: 23vh;
    }
    87%{
    top: 31vh;
    left: 20.5vh;
    height: 27vh;
    }
    100%{
    top: 44vh;
    left: 23vh;
    height: 31vh;
    }
}

#gate{
    height: 25vh;
    top: -43vh;
    left: -24vh;
}