*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

img#bg1{
    width: 100vw;
    height: 100vh;
    animation: mymove1 50s linear infinite;
    position: absolute;
}

img#bg2{
    width: 100vw;
    height: 100vh;
    animation: mymove2 50s linear infinite;
    position: absolute;
}

@keyframes mymove1 {
 from { left: -100vw; }
 to { left: 0vw; }
}

@keyframes mymove2 {
 from { left: 0vw; }
 to { left: 100vw; }
}

.event-card{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-left: 0vw;
    margin-top: 0vh;
    display: flex;
    background: none;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
}

.event-image{
    width: 30%;
    height: 80%;
    background: rgba(0,0,0,0.7);
}

.event-saber{
    width: 50px;
    height: 180vh;
    padding: 0px;
    position: relative;
    top: -45vh;
    background-color: none;
}

.event-details{
    width: 60%;
    height: 80%;
    background: rgba(0,0,0,0.7);
    padding: 2rem;
    color: #fff;
}

.nav-tabs{
    border-bottom: 1px solid #E2FF00;
    font-size: 20px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: rgba(0,0,0,0);
    color: #E2FF00;
    border-left: 1px solid #E2FF00;
    border-right: 1px solid #E2FF00;
    border-top: 1px solid #E2FF00;
    border-bottom: transparent;
    border-radius: 0px;
}

.nav-tabs>li>a:hover{
    background-color: rgba(0,0,0,0);
    color: #E2FF00;
    border-left: 1px solid #E2FF00;
    border-right: 1px solid #E2FF00;
    border-top: 1px solid #E2FF00;
    border-bottom: transparent;
    border-radius: 0px;
}

.nav-tabs a{
    padding: 5px;
    background-color: none;
    color: white;
}