*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

img#bg1{
    width: 100vw;
    height: 100vh;
    animation: mymove1 50s linear infinite;
    position: absolute;
}

img#bg2{
    width: 100vw;
    height: 100vh;
    animation: mymove2 50s linear infinite;
    position: absolute;
}

@keyframes mymove1 {
 from { left: -100vw; }
 to { left: 0vw; }
}

@keyframes mymove2 {
 from { left: 0vw; }
 to { left: 100vw; }
}

.event-card{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-left: 0vw;
    margin-top: 0vh;
    display: flex;
    background: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

header{
    position: absolute;
    top: 7%;
    left: 40%;
    height: 10%;
    background: blue;
    min-width: 24%;
    font-size: 3.5rem;
    transform: translateX(-30%);
    display: flex;
    color: white;
}

header h1{
    margin: auto;
    padding: 6px;
}

.event-image{
    width: 30%;
    height: 80%;
    background: rgba(0,0,0,0.7);
}

.event-details{
    width: 60%;
    height: 80%;
    background: rgba(253, 205, 0, 0.48);
    padding: 3.5rem;
    padding-top: 8rem;
    color: black;
}

.nav-tabs{
    border-bottom: 1px solid white;
    font-size: 20px;
    color: black;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: rgba(0,0,0,0);
    color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: transparent;
    border-radius: 0px;
}

.nav-tabs>li>a:hover{
    background-color: rgba(0,0,0,0);
    color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-bottom: transparent;
    border-radius: 0px;
}

.nav-tabs a{
    padding: 5px;
    background-color: none;
    color: black;
}

.info-content, .rule-content, .contact-content{
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    padding-top: 2rem;
    max-height: 400px;
}

.rule-content::-webkit-scrollbar{
    visibility: hidden;
}

.rule-content::-webkit-scrollbar {
    width: 12px;
}
 
.rule-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.rule-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.contact-content{
    display: block;
}

.rule-content{
    overflow-y: scroll;
}

.info-content>div{
    height: 50%;
}

.info-row{
    width: 100%;
}

.info-col{
    padding-top: 2rem;
    width: 50%;
}